.events{
    display: flex;
    height: calc(100vh - 91px);
}
.side_bar{
    width: 290px;
    background-color: #1a94ff;
    font-size: 25px;
    text-align: center;
    padding: calc((100vh - 116px)/2) 0;
}
.item{
    align-items: center;
}
.btn_delete{
    background-color: #1a94ff;
    color: #fff;
    border-radius: 2px;
    padding: 6px 16px;
    cursor: pointer;
    border: 0px;
}
.btn_delete:hover{
    opacity: 0.8;
}
