.events {
    /* height: calc(100vh - 91px); */
}

.side_bar {
    background-color: #dcdcdd;
    font-size: 25px;
    text-align: center;
    padding: 12px 0;
}

.item {
    align-items: center;
}

.btn_delete {
    background-color: #f80f0f;
    color: #fff;
    border-radius: 2px;
    padding: 6px 16px;
    cursor: pointer;
    border: 0px;
}

.btn_delete:hover {
    opacity: 0.8;
}
.btn_update{
    background-color: #ecd718;
    color: #fff;
    border-radius: 2px;
    padding: 6px 16px;
    cursor: pointer;
    border: 0px;
}
.btn_update:hover {
    opacity: 0.8;
}
