.UpdateStaff {
    position: absolute;
    /* top: 100px; */
    top: 140px;
    left: 400px;
}

.UpdateStaff_link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin: 8px 4px;
    padding: 4px 4px;
    background-color: #1a94ff;
    border-radius: 2px;
}

.UpdateStaff_link:hover {
    opacity: 0.8;
}

.form {
    position: absolute;
    width: 600px;
    min-height: 100px;
    padding: 32px 24px;
    padding-top: 0px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 2px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, .1);
}

.form_exit {
    position: absolute;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    font-size: 1.8rem;
    height: 32px;
    width: 32px;
    top: 0;
    right: 0;
}

.form_exit:hover {
    background-color: rgb(252, 25, 25);
    color: #fff;
}

.form_heading {
    margin: 24px;
    font-size: 1.3rem;

}

.form_heading_text {
    font-size: 1.4rem;
}

.field {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form_label {
    font-weight: 600;
    padding-bottom: 6px;
    line-height: 1.2rem;
    font-size: 1rem;
}
.form_input{
    /* height: 8px; */
    /* width: 576px; */
    height: 24px;
    width: 550px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    outline: none;
    font-size: 0.8rem;
    word-wrap: break-word;
}
.form_message {
    color: green;
    font-size: 16px;
    font-weight: 600;
}
.form_error{
    color:red;
    font-size: 14px;
    padding-top: 2px;
}

.form_submit {
    outline: none;
    background-color: #39a0fb;
    margin-top: 8px;
    padding: 8px 12px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 25%;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.form_submit:hover {
    opacity: 0.8;
}