.content {
    top: 100px;
    bottom: 100px;
    color: white;
    display: block;
    position: relative;
    /* height: 1800px; */
}
.background{
    background-image: url(./background_home.jpg);
    background-size: 100% 90%;
    height: 510px;
    background-repeat: no-repeat;
}
.label{
    position: absolute;
    top: 470px;
    left: 40px;
    color: black;
    font-size: 1.6rem;
}
.tabs{
    top: 510px;
    position: absolute;
    color: #0384f5;
    width: 100%;
}

.tabs_list{
    background-color: #e2e3e3;
    margin-left: 40px;
}
