.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(0, #4da8f8, #1a94ff);
    z-index: 100;
}

.navbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.navbar_home {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    padding: 5px 30px;
}

.navbar_list {
    height: 100%;
    margin: 0;
    padding-right: 20px;
    list-style: none;
    justify-content: space-around;
}

.navbar_item {
    margin-top: 10px;
    padding: 0px 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}

.navbar_item_separate {
    border-right: 1px ridge rgb(199, 196, 196);
}

/* Header with search */
.list_search_cart {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    margin-left: 200px;
    width: 850px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
    align-items: center;
}

.search_input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 0 16px;
    border-radius: 3px;
}

.search_btn {
    background-color: #1a94ff;
    border: none;
    width: 60px;
    height: 34px;
    outline: none;
    margin-right: 3px;
    border-radius: 3px;
}

.search_btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.search_btn_icon {
    color: white;
    font-size: 1rem;
}

/* Header with cart */
.cart {
    height: 40px;
    width: 250px;
    text-align: center;
}

.cart_icon {
    margin-top: 10px;
    font-size: 2rem;
    color: white;
}

/*
.navbar_user{
    height: 60%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}
.navbar_user_icon{
    font-size: 1rem;
    color: white;
    padding: 0 4px;
}
.navbar_user_name{
    color: white;
}
.navbar_user:hover{
    cursor: pointer;
}
.navbar_user:hover .navbar_user_name{
    color: rgb(214, 216, 218);
}
.navbar_user:hover .navbar_user_icon{
    color: rgb(214, 216, 218);
}

.navbar_user:hover .navbar_user_menu{
    display: block;
}
.navbar_user_menu{
    position: absolute;
    margin: 0;
    padding: 8px 16px;
    top: 115%;
    right:0;
    border-radius: 2px;
    background-color: white;
    width: 120px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.navbar_user_menu::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position:absolute;
    right: 4px;
    top: -29px;
}
.navbar_user_menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 83%;
    height: 8px;
} */