.main{
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.form {
    width: 600px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51,62,73,.1);
}
.form_heading{
    font-size: 1.4rem;
    
}
.field{
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form_label{
    font-weight: 600;
    padding-bottom: 6px;
    line-height: 1.2rem;
    font-size: 1rem;
}
.form_input{
    height: 8px;
    width: 576px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    outline:none;
    font-size: 0.8rem;
    word-wrap: break-word;
}
.form_error{
    color:red;
}
.form_submit{
    outline: none;
    background-color: #39a0fb;
    margin-top: 8px;
    padding: 8px 12px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 25%;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}
.form_submit:hover{
    opacity: 0.8;
}